<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="menu_etl_root"
        name="ETL"
        sequence="2"/>

    <menuitem id="menu_etl" name="ETL" sequence="1" parent="menu_etl_root" />
    <menuitem id="menu_etl_model" name="ETL Models" parent="menu_etl" action="action_etl_model"/>




    <menuitem
        id="cron_menu"
        name="Cron Jobs"
        parent="menu_etl_root"
        sequence="10"/>
    <menuitem
        id="cron_scheduled_action"
        name="Scheduled Actions"
        action="base.ir_cron_act"
        parent="cron_menu" 
        sequence="10"/>
    <menuitem
        id="cron_scheduled_action_triggers"
        name="Scheduled Actions Triggers"
        action="base.ir_cron_trigger_action"
        parent="cron_menu" 
        sequence="10"/>
    <menuitem
        id="data_import_config_menu"
        name="Configuration"
        sequence="99"
        parent="menu_etl_root"/>

    <!-- Link to Database Sources (if odoo_etl_sqlite is installed) -->
    <menuitem
        id="menu_etl_dbsources_link"
        name="Database Sources"
        action="odoo_etl_sqlite.action_base_external_dbsource"
        parent="data_import_config_menu"
        sequence="1"/>

</odoo>
